<div class="container">
<h1>Seja bem vindo ao Home</h1>
<p>Obrigada por ter assistido ate aqui</p>
<p>Se inscreva no meu canal e me siga nas outras redes sociais</p>
<div class="social-media">
<a href="https://github.com/naymaisa"><i class="bi bi-github"></i></a>
<a href="https://www.instagram.com/codandocomnay/"><i class="bi bi-instagram"></i></a>
<a href="https://www.tiktok.com/@codandocomnay"><i class="bi bi-tiktok"></i></a>
<a href="https://www.youtube.com/@CodandocomNay"><i class="bi bi-youtube"></i></a>
</div>
</div>
